@media only screen and (max-width: 400px) and (min-width: 320px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top: 10px;
	}
	.img{
		/*border: 0px;*/
		margin-bottom: 10px;
	    margin-bottom: 20px;
	    margin-top: 25px;

	}
	.row .btn-all #share{
		margin-left: -1px;
		margin-top: 5px;
	}
	.img> .content-img{
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    margin: 20px 0px;
    margin-left: 30%;
	}
	.row .breadcrumb {
    bottom: -40px;
	}
}
@media only screen and (max-width: 450px) and (min-width: 402px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top: 10px;
	}
	.img{
		margin-bottom: 50px;
	    border: 0px;
	    margin-top: 15px;

	}
	.row .btn-all #share{
		padding-right: -1px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.row .breadcrumb {
    bottom: -40px;
	}
}
@media only screen and (max-width: 500px) and (min-width: 452px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top: 10px;
	}
	.img{
    margin-bottom: 60px;
    border: 0px;
    margin-top: 50px;
	}
	.row .btn-all #share{
		padding-right: -1px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    margin: 60px;
    margin-left: 30%;
	}
	.row .breadcrumb {
    bottom: -40px;
	}
}
@media only screen and (max-width: 570px) and (min-width: 502px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top: 60px;
	}
	.img{
    margin-bottom: 100px;
    border: 0px;
    margin-top: 60px;
	}
	.row .btn-all #share{
		padding-right: -1px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    margin: 60px;
	}
	.row .breadcrumb {
    bottom: -40px;
	}
}
@media only screen and (max-width: 620px) and (min-width: 570px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top:100px;
	}
	.img{
    margin-bottom: 100px;
    border: 0px;
    margin-top: 100px;
	}
	.row .btn-all #share{
		padding-right: -1px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    margin: 60px;
	}
	.row .breadcrumb {
    bottom: -80px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 622px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top:100px;
	}
	.img{
    margin-bottom: 140px;
    border: 0px;
    margin-top: 100px;
	}
	.row .btn-all #share{
		padding-right: -1px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    /*margin: 60px;*/
     margin-top: 90px;
	}
	.row .breadcrumb {
    bottom: -80px;
	}
}
@media only screen and (max-width: 990px) and (min-width: 769px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top:100px;
	}
	.img{
    margin-bottom: 140px;
    border: 0px;
    margin-top: 100px;
	}
	.row .btn-all #share{
		padding-right: -1px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    margin: 60px;
	}
	.row .breadcrumb {
    bottom: -80px;
	}
}
@media only screen and (max-width: 1028px) and (min-width: 992px){
	.slishow{
		margin-top: 15px;
	}
	#tk-aside, #tk-aside-qc{
		max-height: 216px;
		max-width: 234px;
	}
	.row #tk-aside{
		border: 0px;
		max-width: 100%;
		margin-top:35px;
	}
	.img{
    margin-bottom: 25px;
    border: 0px;
    margin-top: 25px;
	}
	.row .btn-all #share{
		margin-top: 5px;
	}
	.img> .content-img{
		border: solid 1px rgba(0, 188, 212, 0.46);
    	border-radius: 4px;
		/*border: 0px;*/
	}
	.row .pot-bai{
	padding-bottom: 15px;
	}
	.phantrang2 {
    margin: 0px;
	}
	.row .breadcrumb {
    bottom: -20px;
	}
}
.main-menu{

}

.main-content{

}
/*.row .bgr-cl .pot-bai .btn:hover{
	background-color: #4aff97;
	color: #fff;
}
.row .bgr-cl .pot-bai .btn:hover a{
	background-color: #4aff97;
	color: #000;
}*/
.col-md-offset-12{
	margin-left: 0px;
}
.row .bgr-cl-title{
	/*background-color:#fff;*/
	padding-bottom: 15px;
	border-radius: 5px;
	padding: 8px 15px;
    margin-bottom: 0px;
    font-size: 20px;
}
.bgr-cl-title .tabs_nc{
	/*border-radius: 5px;
	padding: 8px 15px;
    margin-bottom: 0px;
    font-size: 20px;
    padding-bottom: 15px;*/
}
.row .bgr-cl-title .btn{
	background-color: #33cc66;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0px;	
}
.row .bgr-cl-title .btn{
	background-color: #33cc66;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0px;	
}

.row .bgr-cl-title .btn a{
	text-decoration: none;
	color: #fff;
}
.row .bgr-cl-title .btn:hover{
	background-color: #a9d7aa;
	color: #000;
}
.row .bgr-cl-title .btn:hover a{
	color: #000;
}
.row .breadcrumb{
	background-color: #fff;
}
.row{
	padding-right: 5px;
}
.row #tk-aside{
	border: solid 1px rgba(0, 188, 212, 0.46);
	border-radius: 5px;
	padding-top: 15px;
	max-height: 100%;
	background-color: #fff;
}
.row #tk-aside .col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}
.row .col-md-4 .tk-aside{
	float: left;
	clear: both;
	width: 100%;
	
}
.carousel_nc{
	max-height: 170px;
    overflow: hidden;
    margin-top: 50px;
}
.row #row-md-8{
	border: solid 0px #eef2c9;
	border-radius: 5px;
	/*padding: 5px;*/
	/*float: left;*/
}
.img{
	float: left;
	padding:10px;

}
.img img{
	max-width: 100%;
	float: left;
	/*float: left;*/
}

.row .chungcu-mini-title{
	font-size: 18px;

}
.row .chungcu-mini-title span{
	color: #2b2b2e;
}
.row .chungcu-mini-title span a{
	color: #0013cf;
	text-decoration: none;
}
.row .title{
	color: #2b2b2e;
}
.row .img .btn-all{
	margin-left: 0px;
}
.row .img .btn-all #xemchitiet:hover{
	/*background-color: red;*/
	background-color: #a9d7aa;
	color: #fff;
}
.row .btn-all #luu{
	margin-top: 2px;
}
.row .btn-all #luu:hover{
	/*background-color: #42484c;*/
	background-color: #a9d7aa;
	/*color: #fff;*/
	color: black;

}
/*.row .btn-all #luu:hover a{
	color: black;
	background-color:#a9d7aa;
}*/
.row .btn-all #luu a{
	color: #fff;
}
/*.row .btn-all #luu a{
	text-decoration: none;
	color: black;
}*/

/*.ke-ngang-1{
	padding: 10px;
	margin-left: -15px;
}*/
/*.row .bgr-cl2{
	background-color: #dde0f0;
	margin-left: 95px;
	border-radius: 5px;
	width: 100%;
}*/

.phantrang1 {
	text-align: center; 
	margin-left: 30%;
	/*margin-top: -80px;*/
	/*margin-left: 100px;*/

	}

.phantrang2{
	margin-left: 30%;
}




















/*.row .timkiem{
	float: left;
	padding-top: 25px;
	max-width: 90px;
	margin-top: 20px;
}
.row .timkiem:hover input{
	background-color: #4aff97;
	color: #fff;
}

.ke-ngang{
	width: 100%;
	height: 1px;
	background-color: #d5e5fe;

}
footer{
	background-color: #ebf9fe;
	padding-top:20px;

}
footer span{
	color: #014ada;
	font-size: 16px;
	font-weight: bolder;

}
footer ul{
	list-style: none;
	padding-left: 0 !important;
}
footer .text-center{
	text-align: left;
}
footer .right{
	text-align:left;
}

footer .icon-link a{
	padding: 10px 5px 10px 0px;

}
*/
/*////////////////////////*/
/*.img{
	position: relative;
}
.img .like, .evaluate{
	color: white;
	padding-right: 15px;
	float: left;	
	font-size: 16px;
	font-weight: bolder;
}
.img a .like-evaluate-0{
	visibility: hidden;
}
.img> a .like-evaluate-0{
	position: absolute;
    bottom: 220px;
	padding: 25px 15px;
}
.img> a:hover .like-evaluate-0{
	visibility: visible;
}
.img a .like-evaluate-0 .like:hover{
	color: #33cc66;
}
.img a .like-evaluate-0 .evaluate .a123:hover{
	color: red;
}
.img a .like-evaluate-0 .glyphicon{
	color: yellow;
}*/