.imformation-contact p a{
	text-decoration: none;
}
.imformation-contact span, legend b {
	color: #68c6dd;
	font-size: 18px;
}
legend{
	font-size: 18px;
	color: #68c6dd;
}
label span{
	color: red;
}
.email .toi-email, .email #toi-email{
	/*visibility: hidden;*/
	display: none;
}
.form-group a{
	text-decoration: none;
	color: black;

}
.form-group #send-form , #exit-form{
	background-color: #33cc66;
	color: white;
}
.form-group #send-form:hover , #exit-form:hover{
	background-color: #a9d7aa;
	color: black;
}
.form-group #exit-form a{
	color: white;
}
.form-group #exit-form:hover a{
	color: black;
}
/*.back-to-top{
	
}*/